@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: span, serif;
  line-height: 1.4;
}

body {
  margin: 0;
  /* position: inherit;
  width: 100%;
  height: 100%; */
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  padding: 1em;
  list-style: none;
  display: grid;
  grid-template-areas:
    "logo none navigation";
}

nav li a {
  color: #000;
}

.dots-nav {
  grid-area: navigation;
  margin-top: 4em;
  text-align: center;
}

.logo-small {
  margin-top: 35px;
  grid-area: logo;
  text-align: center;
}

.hide {
  display: none;
}

.orange {
  color: #f46b0c;
}

.about-section {
  display: grid;
  grid-template-areas:
    "none0 none0 none0"
    "header header header"
    "para1 para1 none"
    "none2 para2 para2"
    "none3 para3 para3"
    "none4 para4 para4"
    "none00 none00 none00"
    "service service none5"
    "none6 list list";

  grid-gap: 5px;
}

.about-header {
  grid-area: header;
  text-align: center;
  font-size: 44.44px;
  margin: 1em 0 1em;
}

.under-about {
    grid-area: para1;
    margin: 0 0 .7em 2.3em;
}

.right-side-about{
  grid-area: para2;
  margin: .7em  2.3em 0 0;
}

.right-side-about-next{
  grid-area: para3;
  margin: .7em  2.3em 0 0;
}

.right-side-about-next2{
  grid-area: para4;
  margin: .7em  2.3em 0 0;
}

h3 {
  grid-area: service;
  margin: 2em 0 0 2.3em;
}

.my-list {
  grid-area: list;
  margin: .7em 2.3em .7em 0;
}

.contact-section {
  display: grid;
  grid-template-areas:
    "nothing0 nothing0 nothing0"
    "header-c header-c header-c"
    "p1 p1 nothing"
    "nothing2 p2 p2";

  grid-gap: 5px;
}

.contact-header {
  grid-area: header-c;
  text-align: center;
  font-size: 44.44px;
  margin: 1em 0 1em;
}

.under-contact {
  grid-area: p1;
  margin: 0 0 .7em 2.3em;
}

.right-side-contact {
  grid-area: p2;
  margin: .7em  2.3em 4.5em 0;
}

.bold {
  font-weight: 700;
}

aside {
  text-align: center;
  font-size: 14.05px;
}

p {
  max-width: 300px;
}

@media only screen and (min-width: 26em) {

  .contact-header {
    margin: 2em 0 1em;
  }

  html {
    margin: 0 1.6rem 0;
  }

  .dots-nav {
    display: none;
  }

  .hide {
    display: contents;
  }

  nav {
    display: flex;
    flex-direction:row;
    justify-content: center;
    list-style: none;
  }

  nav li a{
    font-weight: 700;
    font-size: 17.93px;
  }

  nav li {
    margin: 4.5em 3em;
  }

  .about-header,
  .contact-header {
    text-align: left;
    margin-left: 36.8px;
  }

  .about-section {
    display: grid;
    grid-template-areas:
      "none0 none0 none0 none0"
      "header header header header"
      "para1 para1 none none"
      "none2 none2 para2 para2"
      "none3 none3 para3 para3"
      "none4 none4 para4 para4"
      "none00 none00 none00 none00"
      "service service none5 none5"
      "none6 list list list";

    grid-gap: 5px;
  }

  .contact-section {
    display: grid;
    grid-template-areas:
      "nothing0 nothing0 nothing0 nothing0"
      "header-c header-c header-c header-c"
      "p1 p1 p1 nothing"
      "nothing2 nothing2 p2 p2";

    grid-gap: 5px;
  }

}

@media only screen and (min-width: 38em) {

  .contact-header {
    margin: 3em 0 1em;
  }

  .about-section {
    display: grid;
    grid-template-areas:
      "none0 none0 none0 none0 none0 none0"
      "none000 none000 header header header header"
      "none000 none000 para1 para1 none1 none1"
      "none000 none000 none2 none2 para2 para2"
      "none000 none000 none3 none3 para3 para3"
      "none000 none000 none4 none4 para4 para4"
      "none000 none000 none00 none00 none00 none00"
      "none000 none000 service service none5 none5"
      "none000 none000 none6 list list list";

    grid-gap: 5px;
  }

  .contact-section {
    display: grid;
    grid-template-areas:
      "nothing00 nothing0 nothing0 nothing0 nothing0 nothing0"
      "nothing00 header-c header-c header-c header-c header-c"
      "nothing00 p1 p1 p1 nothing nothing"
      "nothing00 nothing2 nothing2 nothing2 p2 p2";

    grid-gap: 5px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 130%;
    margin: 0 5rem 0;
  }

  .under-contact {
    margin-left: 0;
  }

  .about-header {
    margin-left: 50px;
  }

  nav li a{
    font-size: 17.93px;
  }

  p {
    max-width: 350px;
  }

  .about-section {
    display: grid;
    grid-template-areas:
      "none0 none0 none0 none0 none0 none0"
      "none000 none000 header header header header"
      "none000 none000 para1 para1 para2 para2"
      "none000 none000 none2 none2 para2 para2"
      "none000 none000 none3 none3 para3 para3"
      "none000 none000 none4 none4 para4 para4"
      "none000 none000 none00 none00 none00 none00"
      "none000 none000 service service none5 none5"
      "none000 none000 none6 list list list";

    grid-gap: 5px;
  }

  .contact-section {
    display: grid;
    grid-template-areas:
      "nothing0 nothing0 nothing0 nothing0 nothing0 nothing0"
      "nothing00 nothing00 header-c header-c header-c header-c"
      "nothing00 nothing00 p1 p1 p2 p2"
      "nothing00 nothing00 nothing2 nothing2 p2 p2";

    grid-gap: 5px;
  }

  .logo-small {
    margin: 70px 0 0 7px;
  }

}

@media only screen and (min-width: 90em) {

  nav li a{
    font-size: 17.93px;
  }

  html {
    font-size: 130%;
    margin: 0 5rem 0;
  }

  p {
    max-width: 400px;
  }

}
