@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: span, serif;
  line-height: 1.4;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.skip-links {
  display: none;
}

.skip-links a {
  position: absolute;
  top: -8em;
}

.hide-h1 {
  display: none;
}

.aside-size {
  font-size: .8781rem;
  text-align: left;
}

.main-section {
  display: grid;
  grid-template-areas:
    "empty welcome welcome"
    "my-works my-works my-works"
    "nono nono contact";
}

.contact-c {
  grid-area: contact;
  margin: 4em 0;
}

.intro {
  font-weight: bold;
  grid-area: welcome;
}

p {
  margin: 9em 0;
}

.orange {
  color: #f46b0c;
}

.list-of-works {
  grid-area: my-works;
}

main li a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 2.7775rem;
}

li {
  list-style: none;
  margin-bottom: 4em;
  text-align: center;
}

ul {
  padding: 0;
}

.small-caps1 {
  padding-left: 4em;
  position: relative;
  top: .625rem;
}

.small-caps2 {
  padding-left: 8.6em;
  position: relative;
  top: .625rem;
}

.small-caps3 {
  padding-left: 11em;
  position: relative;
  top: .625rem;
}

.aside {
  text-align: center;
  font-size: .8781rem;
}

@media only screen and (min-width: 26em) {

  .main-section {
    display: grid;
    grid-template-areas:
      "empty empty welcome welcome"
      "empty2 my-works my-works my-works"
      "nono nono nono contact";
  }

  li {
    text-align: left;
  }

  p {
    margin: 4em 0;
    position: relative;
    left: 6em;
  }

}

@media only screen and (min-width: 38em) {

  .main-section {
    display: grid;
    grid-template-areas:
      "empty0 empty0 empty0 empty0 empty0 empty0 "
      "empty my-works my-works empty2 welcome welcome"
      "nono nono nono nono contact nono1";

    grid-gap: 1.875rem;
  }

  p {
    margin: 7em 0;
    position: inherit;
  }

  .contact-c {
    margin-top: 0;
  }

  .small-caps1,
  .small-caps2,
  .small-caps3 {
    left: 0;
  }

}

@media only screen and (min-width: 60em) {

  p {
    font-size: 130%;
  }

  main li:last-child {
    margin-bottom: 0;
  }

  .main-section {
    display: grid;
    grid-template-areas:
      "empty0 empty0 empty0 empty0 empty0 empty0 empty0"
      "empty empty my-works my-works empty2 welcome welcome"
      "nono nono nono nono nono contact nono1";
    grid-gap: 1.875rem;
  }

  .contact {
    position: relative;
    bottom: 3.75rem;
  }

  .s-screens {
    display: none;
  }

  ul {
    margin-top: 0;
  }

  .small-caps1,
  .small-caps2,
  .small-caps3 {
    top: .25rem;
  }

}

@media only screen and (min-width: 90em) {

  p {
    margin: 6em 0;
    font-size: 1.4756rem;
  }

  main li a {
    font-size: 3.9037rem;
  }

  body {
    padding: 0 7em;
  }

  .small-caps1 {
    left: 4.6875rem;
  }

  .small-caps2 {
    left: 6.5625rem;
  }

  .small-caps3 {
    left: 7.25rem;
  }

}
