html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: span, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

li {
  margin: 80px;
}

li a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 26.88px;
}

nav {
  display: flex;
  flex-direction:row;
  justify-content: center;
  list-style: none;
}

.logo-large {
  margin: 25px 10px 0 30px
}

.orange {
  color: #f46b0c;
}

p {
  font-size: 26.88px;
  font-weight: 700;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
