@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: span, serif;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.4;
}

.img-flex {
  display: block;
  width: 100%;
}

.contact-c {
  display: flex;
  align-items: stretch;
}

p {
  font-size: 16px;
}

main {
  display: grid;
  grid-template-areas:
  "header header header"
  "p1 p1 p1"
  "p2 p2 p2"
  "straight straight straight"
  "no no purp"
  "no no oran"
  "no no blk"
  "p3 p3 none"
  "rright rright rright"
  "p4 p4 p4"
  "lleft lleft lleft"
  "board board board"
  "nono nono contact";

    grid-gap: 5px;
}

.contact-c {
  grid-area: contact;
  margin: 4em 0 4em;
}


h1 {
  grid-area: header;
  text-align: center;
  font-size: 44.44px;
  margin: 1em 0 .2em;
}

.para-1 {
  grid-area: p1;
  margin: .5em 2em .5em 6em;
}

.para-2 {
  grid-area: p2;
  margin: 0 2em 2em 6em;
}

.beer-straight {
  grid-area: straight;
  padding: 0 0 0 1em;
}

.purple-circle {
  margin-top: 6em;
  grid-area: purp;
}

.orange-circle {
  grid-area: oran;
}

.black-circle {
  grid-area: blk;
  margin-bottom: 2em;
}

.para-3 {
  margin: 4em 0 6em 2em;
  grid-area: p3;
}

.beer-right {
  grid-area: rright;
  padding: 0 2em 0 0;
}

.para-4 {
  grid-area: p4;
  margin: 4em 2em 6em 2em;

}

.beer-left {
  grid-area: lleft;
  padding: 0 0 0 2em ;
}

.moodboard {
  grid-area: board;
  padding: 4em 2em;
  margin: 0;
}

.board-cap {
  text-align: center;
  margin-top: .5em;
}

aside {
  text-align: center;
  font-size: 14.05px;
}

@media only screen and (min-width: 26em) {

  .contact-header {
    margin: 2em 0 1em;
  }

  html {
    margin: 0 1.6rem 0;
  }

  .para-3 {
    max-width: 200px;
  }

  .para-4 {
    max-width: 300px;
  }

  main {
    display: grid;
    grid-template-areas:
    "header header header"
    "p1 p1 p1"
    "p2 p2 p2"
    "straight straight straight"
    "no no purp"
    "no no oran"
    "no no blk"
    "p3 p3 p3"
    "rright rright rright"
    "p4 p4 p4"
    "lleft lleft lleft"
    "board board board"
    "nono contact nono1";

      grid-gap: 5px;
  }

  h1 {
    margin-top: 0;
  }

}

@media only screen and (min-width: 38em) {

  .dots-nav {
    display: none;
  }

  .hide {
    display: contents;
  }

  h1 {
    margin-top: 0;
  }

  p {
    max-width: 350px;
  }

  main {
    display: grid;
    grid-template-areas:
    "header header header"
    "not p1 p1"
    "not p2 p2"
    "straight straight straight"
    "no no purp"
    "no no oran"
    "no no blk"
    "p3 p3 p3"
    "rright rright rright"
    "p4 p4 p4"
    "lleft lleft lleft"
    "board board board"
    "nono contact nono0";

      grid-gap: 5px;
  }

  .beer-straight {
    max-width: 70%;
  }

  .moodboard {
    margin-top: 4em;
  }

}

@media only screen and (min-width: 60em) {

  h1 {
    margin-top: 2em;
  }

  .contact-c {
    position: relative;
    left: -65px;
  }

  p {
    font-size: 130%;
  }

  .para-1,
  .para-2,
  .para-3,
  .para-4 {
    max-width: 450px;
  }

  body {
    padding: 0 4em;
  }

  main {
    display: grid;
    grid-template-areas:
    "noy noy header header"
    "straight straight  p1 p1"
    "straight straight p2 p2"
    "straight straight not purp"
    "straight straight noo oran"
    "straight straight noo blk"
    "p3 p3 rright rright"
    "p3 p3 rright rright"
    "p4 p4 lleft lleft"
    "p4 p4 lleft lleft"
    "notr board board notr1"
    "nono nono contact nono0";

      grid-gap: 5px;
  }

  .para-1 {
    margin: .5em 2em .5em 0;
  }

  .para-2 {
    margin: 0 2em 2em 0;
  }

  h1 {
    text-align: left;
  }

  .purple-circle {
    margin-top: 33em;
  }

  .black-circle {
    margin-bottom: 25em;
  }

  .beer-straight {
    min-height: 400px;
    min-width: 700px;
  }

  .beer-left {
    min-height: 600px;
    min-width: 600px;
    position: relative;
    left:-30px;
    margin-bottom: 10em;
  }

  .beer-right {
    min-height: 600px;
    min-width: 700px;
    position: relative;
    left:-100px;
    margin-bottom: 15em;
  }

}

@media only screen and (min-width: 90em) {

  p {
    font-size: 130%;
  }

}
